.p-access {

}

.p-access__area {
  +.p-access__area {
    margin-top: 6rem;
    @include mq(tab){
      margin-top: 10rem;
    }
  }
}

.p-access__clinic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem 2.4rem;

  @include mq(tab){
    flex-direction: row;
  }
  
  @include mq(pc){
    gap: 0 7.142857%;
  }
}

.p-access__desc {

  @include mq(tab){
    width: calc(50% - 2.4rem);
  }
  @include mq(pc){
    width: 42.857143%;
  }
}

.p-access__title {
  border-bottom: 1px solid cl(orange);
  padding-top: 8rem;
  margin-top: -8rem;

  @include mq(pc){
    padding-top: 2rem;
    margin-top: -2rem;
  }

  .p-pageClinicContent__item & {
    border: none;
    @include mq(tab){
      border-bottom: 1px solid cl(orange);
    }
  }

  span {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    display: inline-block;
    min-width: 94px;
    height: 30px;
    padding: 0 1rem;
    text-align: center;
    line-height: 30px;
    background-color: cl(orange);
    border-radius: 0.4rem 0.4rem 0 0;

    color: #fff;
    font-family: $font-zenold;
    font-size: 18px;
    font-weight: 600;
    
    @include mq(tab){
      border-radius: 1rem 1rem 0 0;
      min-width: 18rem;
      height: 4.8rem;
      padding: 0 2rem;
      line-height: 4.8rem;
      font-size: 26px;
    }

    .p-pageClinicContent__item & {
      min-width: 100%;
      margin: 0 auto;
      border-radius: 0.4rem;

      @include mq(tab){
        min-width: 18rem;
        margin: initial;
        border-radius: 1rem 1rem 0 0;
      }
    }
  }

}

.p-access__list {

}

.p-access__listRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem 0;
  padding: 2rem 0;
  border-bottom: 1px solid #D6D6D5;
  font-size: 15px;
  line-height: 24px; /* 160% */
  // letter-spacing: 0.3px;

  .p-pageClinicContent__item & {
    &:first-of-type {
      padding-top: 0;
    }
  }


  @include mq(pc){
    flex-direction: row;
  }

  dt {
    min-width: 12.8rem;
    display: flex;
    align-items: center;
    gap: 0 1.2rem;
    font-weight: 700;
    img {
      width: 1.6rem;
    }
  }
  dd {
    flex: 1;
    a {
      color: cl(orange);
      text-decoration: underline;
    }
  }
}

.p-access__map {

  @include mq(tab){
    width: 50%;
  }
  iframe {
    width: 100%;
    aspect-ratio: 325 / 266;
    @include mq(tab){
      aspect-ratio: 560 / 460;
    }
  }
}

.p-access__btn {
  margin-top: 4rem;
  @include mq(tab){
    margin-top: 5rem;
  }
}


.p-access__sliders {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  gap: 0 2.4rem;

  @include mq(tab){
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
}

.p-access__mainSlider {
  width: 100%;
  @include mq(tab){
    width: 50%;
  }
}

.p-access__mainSliderItem {
  img {
    object-fit: cover;
    aspect-ratio: 560 / 363;
    min-height: 20rem !important;
  }
}

.p-access__subSlider {
  display: none;
  @include mq(tab){
    display: block;
    width: calc(50% - 2.4rem);
  }
}

.p-access__subSliderItem {
  position: relative;
  width: calc((100% - 1.5rem) / 2) !important;
  cursor: pointer;
  
  &::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 0; bottom: 0;
    right: 0; left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: transparent;
  }
  &.slick-current {
    &::before {
      background: rgba(0, 0, 0, 0.40);
      border: 4px solid cl(orange);
    }
  }

  &:nth-child(odd) {
    margin-right: 1.5rem;
  }
  &:nth-child(-n+2) {
    margin-bottom: 1.5rem;
  }

  img {
    object-fit: cover;
    aspect-ratio: 261 / 174;
  }
}


// subのslickを固定する
.slick-list {

  .p-access__mainSlider & {
    margin: 0 -2.5rem;
    @include mq(tab){
      margin: 0;
    }
  }
}

.p-access__subSlider .slick-track {
  transform: unset !important;
}
