.p-pageMessage {

}

.p-pageMessage__head {

}

.p-pageMessage__body {

}

.p-pageMessageGreeting {
  @include mq(tab){
    margin-top: 8rem;

    background-image: url(../../dist/img/message/bg_img.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 56rem 85.6rem;
  }

}

.p-pageMessageGreeting__mainimg {
  margin: 0 -2.5rem;
  @include mq(tab){
    width: unquote('min(92rem, 100%)');
    margin: 0 auto;
  }
}

.p-pageMessageGreeting__head {
  margin-top: 3rem;
  position: relative;
  z-index: 3;
  width: unquote('min(64rem, 100%)');

  @include mq(sp){
    text-align: center;
  }
  
  @include mq(tab){
    text-align: left;
    padding: 0 4rem 4rem 0;
    margin-top: -7rem;
    border-bottom: 1px solid cl(lightgray);
    
    &::after {
      content: "";
      position: absolute;
      bottom: -0.1rem;
      left: 0;
      width: 8rem;
      height: 0.1rem;
      background-color: cl(brown);
  
    }
  }
}

.p-pageMessageGreeting__title {
  background-color: #fff;
  font-family: $font-zenold;
  line-height: 1.8;
  font-weight: 700;
  font-size: 2rem;
  color: cl(brown);
  margin-left: -1rem;
  
  @include mq(tab){
    padding-top: 4rem;
    line-height: 2;
    font-size: 3.2rem;
  }
}

.p-pageMessageGreeting__desc {
  width: unquote('min(64rem, 100%)');
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 2.6rem;
  letter-spacing: -0.015rem;

  @include mq(tab){
    margin: initial;
    letter-spacing: 0;
  }
}

.p-pageMessageGreeting__text {
  padding-top: 3rem;
  
  @include mq(tab){
    padding-top: 6rem;
    padding-left: 4rem;
  }
}

.p-pageMessageGreeting__post {
  margin: 3rem auto 0;
  display: flex;
  justify-content: space-between;
  width: 31.5rem;
  height: 5.8rem;

  color: cl(brown);
  font-family: $font-zenold;
  font-weight: 600;
  line-height: 40px;
  
  @include mq(tab){
    margin-top: 5rem;
    margin-left: auto;
    margin-right: initial;
    width: 45.7rem;
    height: 8.8rem;
  }
}

.p-pageMessageGreeting__clinic {
  position: relative; 

  font-size: 15px;
  @include mq(tab){
    font-size: 22px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -38px;
    width: 6.5rem;
    height: 0.1rem;
    background-color: cl(brown);
    transform: rotate(-45deg);

    @include mq(tab){
      right: -53px;
      width: 9rem;
    }
  }

}
.p-pageMessageGreeting__name {
  margin-top: auto;
  font-size: 16px;
  span {
    margin-right: 1.3rem;
    font-size: 13px;
  }
  @include mq(tab){
    font-size: 22px;
    span {
      margin-right: 1.6rem;
      font-size: 16px;
    }
  }
}



.p-pageMessageAccess {
  margin-top: 8rem;
  margin-bottom: 8rem;
  
  @include mq(tab){
    margin-top: 14rem;
    margin-bottom: 12rem;
  }
}

.p-pageMessageAccess__inner {

}

.p-pageMessageAccess__head {

}

.p-pageMessageAccess__body {
  margin-top: 3rem;
  @include mq(tab){
    margin-top: 6rem;
  }
}

.p-pageMessageAccess__area {
  &:last-of-type {
    margin-top: 6rem;
    @include mq(tab){
      margin-top: 10rem;
    }
  }
}


.p-pageMessage__cta {
  margin-bottom: 8rem;
}

