.p-pageMonitor {
  padding-bottom: 6rem;
  @include mq(tab){
    padding-bottom: 8rem;
  }
}

.p-pageMonitor__head {

}

.p-pageMonitor__body {

}

.p-pageMonitor__fv {
  width: 100%;
  margin-top: 0rem;
  @include mq(tab){
    margin-top: -4rem;
  }

  img {
    max-height: 43rem;
    object-fit: cover;

    @media screen and (min-width: 1800px) {
      max-height: initial;
      object-fit: contain;
    }
  }
}

.p-pageMonitor__slider {
  margin-top: 2.4rem;
  @include mq(tab){
    margin-top: 8rem;
  }

  .p-pageMonitor__sliderInner {
    max-width: 83rem;  
  }

  .splide {
    position: relative;
  }

  .splide__arrows {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    margin: auto;
  }

  .splide__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    @include mq(tab){
      width: 5rem;
      height: 5rem;
    }
    
    &:hover {
      opacity: 0.7;
    }
  }
  
  .splide__arrow--prev {
    left: -2.1rem;
    transform: rotate(180deg);
    @include mq(tab){
      left: -9rem;
    }
    
  }
  .splide__arrow--next {
    right: -2.1rem;
    @include mq(tab){
      right: -9rem;
    }
  }

  .pagination {
    position: absolute;
    bottom: -2.3rem;
    right: 0;
    left: 0;
    margin-inline: auto;
    
    font-size: 1.2rem;
    text-align: center;
    @include mq(tab){
      bottom: -4.6rem;
      font-size: 1.6rem;
    }
  }
}

// 共通バナー
.p-pageMonitor__banner {
  margin-top: 3.7rem;
  @include mq(tab){
    margin-top: 12.6rem;
  }

  .p-pageMonitor__bannerInner {
    max-width: 83rem;
  }
}

// こんな方を探しています
.p-pageMonitorCondition {
  margin-top: 6rem;
  @include mq(tab){
    margin-top: 8rem;
  }
}

.p-pageMonitorCondition__inner {

}

.p-pageMonitor__title {
  display: flex;
  align-items: center;
  padding: 0.3rem 0 0.3rem 1rem;
  background: rgb(255,243,227);
  background: linear-gradient(90deg, rgba(255,243,227,1) 0%, rgba(255,255,255,1) 100%);
  border-bottom: 1px solid cl(brown);
  border-left: 4px solid cl(brown);

  line-height: 3.2rem;
  font-family: $font-zenold;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 2rem;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
  color: cl(brown);

  @include mq(tab){
    line-height: 3.6rem;
    padding: 0.6rem 0 0.6rem 1rem;
    letter-spacing: 0.05em;
    font-size: 3rem;
  }
}

.p-pageMonitorCondition__body {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem 1.6rem;
  
  @include mq(tab) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 4rem;
  }
}

.p-pageMonitorCondition__desc {

}

.p-pageMonitorCondition__list {
  margin-right: -1rem;
}

.p-pageMonitorCondition__item {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  font-weight: 700;
  font-size: 1.6rem;

  @include mq(tab){
    column-gap: 1.0rem;
    font-size: 2rem;
  }
  
  &::before {
    content: '';
    display: inline-block;
    width: 3.0rem;
    height: 3.0rem;
    background-image: url(../../dist/img/icon/icon_liststyle_white.png);
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;

    @include mq(tab){
      width: 3.7rem;
      height: 3.7rem;
    }
  }

  &:not(:first-child) {
    margin-top: 2.4rem;
    @include mq(tab){
      margin-top: 4rem;
    }
  }
}

.p-pageMonitorCondition__figure {
  position: relative;
  width: 100%;
  @include mq(tab){
    width: 50%;
  }
  @include mq(pc){
    width: 100%;
    max-width: 50.5rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: -1.6rem;
    left: 0;
    width: 44.6154%;
    height: 18rem;
    background-color: #FFF4E3;
    z-index: -1;
    @include mq(tab){
      top: initial;
      bottom: 0;
      left: -14.7rem;
      width: 18.8rem;
      height: 23.4rem;
    }
  }

  img {
    display: block;
    margin-left: 1rem;
    width: calc(100% - 1rem);
  }
}

.p-pageMonitorCondition__box {
  position: relative;
  margin-top: 3rem;
  padding: 4rem 1.6rem 0;
  border: 0.1rem solid cl(brown);

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  column-gap: 3.0rem;

  @include mq(tab){
    flex-direction: row;
    min-height: 47.2rem;
    padding-top: 5rem;
  }
  

  &::after {
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: transparent;
    border: 0.1rem solid cl(brown);
  }
}

.p-pageMonitorCondition__boxFigure {
  width: 30%;
  max-width: 33.6rem;
  display: flex;
  align-items: flex-end;

  @include mq(tab){
    width: 100%;
  }
}

.p-pageMonitorCondition__boxDesc {

}

.p-pageMonitorCondition__boxTitle {
  width: 90%;
  margin-inline: auto;
  
  background: cl(brown);
  background: linear-gradient(90deg, rgba(174,137,84,0) 0%, rgba(174,137,84,0.9) 14%, rgba(174,137,84,1) 50%, rgba(174,137,84,0.9) 86%, rgba(174,137,84,0) 100%);
  text-align: center;
  font-weight: 700;
  line-height: 4.8rem;
  font-size: 2.4rem;
  color: #fff;
  @include mq(tab){
    width: 50rem;
    margin: 0;
    line-height: 7.4rem;
    font-size: 3.2rem;
  }
}

.p-pageMonitorCondition__boxList {
  width: fit-content;
  margin-inline: auto;
  margin-top: 2.4rem;
  padding-left: 0.8rem;
  @include mq(tab){
    margin: 0;
    margin-top: 4.3rem;
    padding-left: 0;
  }
}

.p-pageMonitorCondition__boxItem {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  font-weight: 700;
  font-size: 1.6rem;

  @include mq(tab){
    column-gap: 1.0rem;
    font-size: 2.0rem;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    background-image: url(../../dist/img/icon/icon_liststyle_white.png);
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
    @include mq(tab){
      width: 3.7rem;
      height: 3.7rem;
    }
  }

  &:not(:first-child) {
    margin-top: 0.8rem;
    @include mq(tab){
      margin-top: 2.4rem;
    }
  }
}

.p-pageMonitorCondition__boxAttention {
  position: absolute;
  margin-top: 1.1rem;
  right: 1.2rem;
  width: 60%;
  font-weight: 700;
  font-size: 1.2rem;

  br {
    display: none;
  }

  @include mq(tab){
    right: initial;
    margin-top: 2.6rem;
    font-size: 1.6rem;
    br {
      display: block;
    }
  }
  @include mq(pc){
    margin-left: -5rem;
    br {
      display: none;
    }
  }
}

// 掲載内容
.p-pageMonitorContent {
  margin-top: 6rem;
  @include mq(tab){
    margin-top: 8rem;
  }
}

.p-pageMonitorContent__inner {

}

.p-pageMonitorContent__body {
  margin-top: 3rem;
  @include mq(tab){
    margin-top: 4rem;
  }
}

.p-pageMonitorContent__text {
  font-weight: 700;
  font-size: 1.8rem;

  &:not(:first-of-type) {
    margin-top: 1.6rem;
    @include mq(tab){
      margin-top: 2.0rem;
    }
  }
}

.p-pageMonitorContent__attention {
  margin-top: 1.6rem;
  font-weight: 700;
  font-size: 1.6rem;
  @include mq(tab){
    margin-top: 2.0rem;
  }
}

// 掲載内容
.p-pageMonitorPublish {
  margin-top: 6rem;
  @include mq(tab){
    margin-top: 8rem;
  }
}

.p-pageMonitorPublish__inner {

}

.p-pageMonitorPublish__body {
  margin-top: 3rem;
  @include mq(tab){
    margin-top: 4rem;
  }
}

.p-pageMonitorPublish__box {
  max-width: 52.8rem;
}

.p-pageMonitorPublish__icons {
  display: flex;
  align-items: center;
  column-gap: 1.85rem;
  @include mq(tab){
    column-gap: 3.0rem;
  }
}

.p-pageMonitorPublish__icon {
  width: calc((100% - 1.85rem * 2) / 3);
  @include mq(tab){
    width: calc((100% - 3.0rem * 2) / 3);
  }
}

.p-pageMonitorPublish__iconText {
  margin-top: 0.3rem;
  line-height: 1;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  @include mq(tab){
    line-height: 1.4;
    font-size: 1.6rem;
  }
}

.p-pageMonitorPublish__boxText {
  margin-top: 2.4rem;
  padding: 0.35rem 0;
  background-color: cl(orange);
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  @include mq(tab){
    margin-top: 1.9rem;
  }
}

.p-pageMonitorPublish__attention {
  margin-top: 2.4rem;
  font-weight: 700;
  @include mq(tab){
    margin-top: 3.0rem;
  }
}


.p-pageMonitorPublish__list {
  margin-top: 6rem;
  @include mq(tab){
    margin-top: 8rem;
  }
}

.p-pageMonitorPublish__item {
  display: flex;
  flex-direction: column;
  column-gap: 6rem;
  
  @include mq(tab) {
    flex-direction: row;
  }

  &:not(:first-child) {
    margin-top: 2rem;
    @include mq(tab){
      flex-direction: row-reverse;
      margin-top: 6rem;
    }
  }
}

.p-pageMonitorPublish__itemDesc {
  display: contents;
  width: 100%;
  @include mq(tab){
    width: calc((560 / 1120) * 100%);
    display: block;
  }
}

.p-pageMonitorPublish__itemTitle {
  order: 1;
  line-height: 3.8rem;
  font-weight: 700;
  font-size: 2.0rem;
  color: cl(brown);
  word-break: keep-all;

  @include mq(tab){
    font-size: 2.2rem;
  }
}

.p-pageMonitorPublish__itemText {
  order: 3;
  margin-top: 1.2rem;
  line-height: 2.8rem;
  font-size: 1.5rem;
  @include mq(tab){
    margin-top: 3.6rem;
  }
}

.p-pageMonitorPublish__itemFigure {
  order: 2;
  margin-top: 1.2rem;
  width: 100%;
  @include mq(tab){
    margin-top: 0;
    width: calc((500 / 1120) * 100%);
  }
}



.p-bgcImg {
  margin-top: 6rem;

  padding: 7.8rem 0;
  background-image: url("../../dist/img/top/treatment_bgtop_sp.png"), url("../../dist/img/top/treatment_bgbottom_sp.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 7.8rem, 100% 7.8rem;
  background-position: center top, center bottom;
  
  @include mq(tab){
    padding: 17.1rem 0;
    background-image: url("../../dist/img/top/treatment_bgtop.png"), url("../../dist/img/top/treatment_bgbottom.png");
    background-size: 100% 17.1rem, 100% 17.1rem;
  }
}

.p-bgc {
  background-color: cl(beige);
}

// 研修制度
.p-pageMonitorReason {
  padding-top: 4.2rem;
  padding-bottom: 6rem;
  @include mq(tab){
    padding-top: 12rem;
    padding-bottom: 8rem;
  }
}

.p-pageMonitorReason__inner {

}

.p-pageMonitorReason__body {
  margin-top: 3rem;
  @include mq(tab){
    margin-top: 5rem;
  }
} 

.p-pageMonitorReason__list {

}

.p-pageMonitorReason__item {
  @include mq(tab){
    display: flex;
    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
  }

  +.p-pageMonitorReason__item {
    margin-top: 3rem;
    @include mq(tab){
      margin-top: 6rem;
    }
    
  }
}

.p-pageMonitorReason__figure {
  width: 100%;
  position: relative;
  z-index: 2;
  
  @include mq(tab){
    max-width: 42.5rem;
    flex-shrink: 0;
    width: 45%;
  }


  img {
    object-fit: cover;
    aspect-ratio: 435 / 287;
    border-radius: 0.4rem;
  }
}

.p-pageMonitorReason__box {
  margin-top: 1.5rem;
  background-color: #fff;
  padding: 1.6rem 1.5rem;

  @include mq(tab){
    margin-top: 4.6rem;
    margin-left: -5rem;
    padding: 4rem 5.357143% 4rem 9.9910714%;

    .p-pageMonitorReason__item:nth-of-type(even) & {
      margin-left: 0;
      margin-right: -5rem;
      padding: 4rem 9.9910714% 4rem 5.357143%;
    }
  }
}

.p-pageMonitorReason__boxTitle {
  font-family: $font-zenold;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 2.0rem;
  color: cl(orange);
  
  @include mq(tab){
    text-align: center;
    text-align: left;
    font-size: 2.8rem;
  }
}

.p-pageMonitorReason__boxText {
  margin-top: 2rem;
  line-height: 3.6rem;

  @include mq(tab){
    margin-top: 3rem;

  } 
}

// モニター対象の施術一覧
.p-pageMonitorTreatment {
  padding-top: 6rem;
  padding-bottom: 2rem;
  @include mq(tab){
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
}

.p-pageMonitorTreatment__inner {

}

.p-pageMonitorTreatment__head {

}


.p-pageMonitorTreatment__body {
  margin-top: 4rem;
  @include mq(tab){
    margin-top: 8.5rem;
  }
}

.p-pageMonitorTreatment__content {
  padding: 0 2rem;
  position: relative;
  background-color: cl(beige);
  width: 100%;
  border-radius: 0.4rem;
  @include mq(tab){
    padding: 0;
  }
  

  &:not(:first-child) {
    margin-top: 7rem;
    @include mq(tab){
      margin-top: 8.5rem;
    }
  }

  .p-pageMonitorTreatment__contentTitle {
    position: absolute;
    top: -2.08rem;
    left: 0;
    right: 0;

    margin: 0 auto;
    padding: 0.8rem 1.8rem;
    width: calc(100% - 2.5rem);
    max-width: 91rem;
    min-height: 4.17rem;
    line-height: 1.1875;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10rem;
    background-color: cl(orange);

    text-align: center;
    font-family: $font-zenold;
    font-weight: 900;
    font-size: 1.6rem;
    color: #fff;

    &._second {
      top: -2.75rem;
    }
    
    @include mq(tab){
      width: calc(100% - 4rem);
      top: -3.5rem;

      height: 7rem;
      line-height: 7rem;
      font-size: 2.2rem;
      &._second {
        top: -3.5rem;
      }
    }
  }
  
  .p-pageMonitorTreatment__contentList {
    padding: 3.5rem 0 4rem;
    max-width: 91rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem 6.593407%;
    
    @include mq(tab){
      padding: 7.3rem 0 8rem;
      flex-direction: row;
      gap: 6rem 6.593407%;
    }
  }
  
  .p-pageMonitorTreatment__contentItem {
    @include mq(tab){
      width: calc((100% - 6.593407%) / 2);
    }
    img {
      border-radius: 0.6rem;
      @include mq(tab){
        border-radius: 1.2rem;
      }
      
    }

    a {
      &:hover {
        opacity: 0.8;
      }
    }
  }
  
  .p-pageMonitorTreatment__contentItemDesc {

  }
  
  .p-pageMonitorTreatment__contentItemHead {
    position: relative;
    margin-top: 1.2rem;
    color: cl(brown);
    
    @include mq(tab){
      margin-top: 2rem;
    }
  
    &::after {
      content: '';
      position: absolute;
      top: 0.8rem;
      right: 0;
      width: 2.4rem;
      height: 1.2rem;
      background-image: url("../../dist/img/icon/arrow_right_brown.svg");
      background-size: contain;
      @include mq(tab){
        top: 1.6rem;
      }
    }
  }
  
  .p-pageMonitorTreatment__contentItemTitle {
    font-size: 1.8rem;
    font-weight: 700;
    
    @include mq(tab){
      font-size: 2.2rem;
      line-height: 4rem;
    }
  }
}

.p-pageMonitorTreatment__contentItemText {
  margin-top: 1.2rem;
  font-weight: 500;
  line-height: 2;
  font-size: 1.6rem;
  color: cl(brown);

  @include mq(tab){
    margin-top: 2rem;
    font-size: 2.0rem;
  }
}

.p-pageMonitorAccess {
  margin-top: 6rem;
  margin-bottom: 6rem;
  @include mq(tab){
    margin-top: 10rem;
    margin-bottom: 8rem;
  }
}

.p-pageMonitorCta {
  
}
