// FV
.p-singleClinicFv {
  position: relative;
  padding: 2rem 1.25rem;
  height: 26rem;
  background-image: url(../../dist/img/clinic/clinic_fv_sp.png.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include mq(tab){
    padding: 2rem;
    height: 58rem;
    background-image: url(../../dist/img/clinic/clinic_fv.png.webp);
    background-position: center right;
  }
}

.p-singleClinicFv.nagoya {
  position: relative;
  padding: 2rem 1.25rem;
  height: 26rem;
  background-image: url(../../dist/img/clinic/clinic_fv2_sp.png.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include mq(tab){
    padding: 2rem;
    height: 58rem;
    background-image: url(../../dist/img/clinic/clinic_fv2.png.webp);
    background-position: center right;
  }
}

.p-singleClinicFv__bglogo {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 33rem;
  width: auto;
  @include mq(tab){
    top: 0;
    right: initial;
    left: 0;
    height: 100%;
    margin: auto 0;
  }
}

.p-singleClinicFv__inner {
  z-index: 2;
  position: relative;
  max-width: 114rem;
  margin: 0 auto;
  padding-top: 2.3rem;
  display: block;
  @include mq(tab){
    flex-direction: row;
    padding-top: 12.3rem;
    justify-content: space-between;
    gap: 13rem 0;
    display: flex;
  }
}

.p-singleClinicFv__title {
  font-family: $font-zenold;
  font-weight: 700;
  letter-spacing: -0.02em;
  font-size: 3.23rem;
  color: #fff;
  span {
    margin-left: 0.6rem;
    letter-spacing: 0.05em;
    font-size: 2.872rem;
  }
  
  @include mq(tab){
    font-size: 5.4rem;
    span {
      margin-left: 1rem;
      font-size: 4.8rem;
    }
  }
}

.p-singleClinicFv__walktime {
  margin-left: auto;
  // margin-top: 23.2rem;
  background-image: url(../../dist/img/clinic/fv_walktime.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5rem;
  @include mq(tab){
    margin-left: initial;
    margin-top: 16.2rem;
    width: 16.2rem;
    height: 16.2rem;
  }
  @include mq(pc){
    margin-right: 6rem;
  }
  @include mq(max){
    margin-right: 0;
  }
  
  .p-singleClinicFv__walktimeText {
    margin-bottom: 1rem;
    text-align: center;
    //font-family: $font-shippori;
    line-height: 1;
    font-weight: 500;
    font-size: 1.35rem;
    color: #fff;

    ._num {
      margin: 0 0.2rem;
      font-family: $font-cinzel;
      font-size: 2.7rem;
    }
    
    @include mq(tab){
      line-height: 1.5;
      font-size: 1.8rem;

      ._num {
        line-height: 1;
        font-size: 3.6rem;
      }
    }
  }
}

.bg01{
  background-color: #FFF4E3;
}

// 診療時間
.p-singleClinicTime {
  margin-top: -2.4rem;
  position: relative;
  z-index: 5;
  @include mq(tab){
    margin-top: -6.05rem;
  }
}

.p-singleClinicTime__inner {
  max-width: 95.2rem;
  padding: 0 1.3rem;
}

// PC用
.p-singleClinicTime__table {
  display: none;
  @include mq(tab){
    display: table;
    margin-top: 0;  
    border: 1px solid #fff;
    border-collapse:  collapse;
    table-layout: auto;
    width: 100%;
  }

  tr {    
    font-size: 2rem;
    height: 6rem;

    &:last-of-type {
      border-top: 1px solid #fff;
    }
  }
  th {
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    background-color: cl(brown);
    color: #fff;
    +th {
      border-left: 1px solid #fff;
    }

    &:first-of-type {
      width: 16rem;
      font-size: 2.2rem;
      font-family: $font-zenold;
    }
  }

  td {
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    background-color: #F8F8F8;
    color: cl(brown);
    
    +td {
      border-left: 1px solid #fff;
    }
    &:first-of-type {
      width: 16rem;
      font-size: 1.6rem;
    }
  }
}


// SP用
.p-singleClinicTime__spTable {
  +.p-singleClinicTime__spTable {
    margin-top: 1.6rem;
  }
}

.p-singleClinicTime__spHead {
  display: flex;
  height: 4.8rem;
  border: 1px solid #fff;
}

.p-singleClinicTime__spHeadBox {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;

  &:first-of-type {
    font-family: $font-zenold;
    background-color: cl(brown);
    color: #fff;
    border-right: 1px solid #fff;
  }
  &:last-of-type {
    background-color: #F8F8F8;
    color: cl(brown);
  }
}

.p-singleClinicTime__spBody {
  margin-top: 0.8rem;  
  border: 1px solid #fff;
  border-collapse:  collapse;
  table-layout: auto;
  width: 100%;

  tr {
    font-size: 1.4rem;
    height: 4.8rem;
  }
  th {
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    background-color: cl(brown);
    color: #fff;
    +th {
      border-left: 1px solid #fff;
    }
  }
  td {
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    background-color: #F8F8F8;
    color: cl(brown);
    
    +td {
      border-left: 1px solid #fff;
    }
  }
}


.p-singleClinicTime__text {
  margin-top: 1.2rem;
  font-size: 1.2rem;

  @include mq(tab){
    line-height: 2.8rem;
  }
}


// 選ばれる理由
.p-singleClinicReason {
  margin-top: 8rem;
}

// 当院の症例
.p-singleClinicCase {
  margin-top: 6rem;
  @include mq(tab){
    margin-top: 8rem;
  }
}

.p-singleClinicCase__body {
  margin-top: 3.2rem;
  @include mq(tab){
    margin-top: 4rem;
  }
}

// CLINICタイトル装飾
.p-clinicHead {
  position: relative;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin: auto;
    background-image: url(../../dist/img/clinic/title_star_sp.png);
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;

    @include mq(tab){
      background-image: url(../../dist/img/clinic/title_star.png);
      width: 4rem;
      height: 4rem;
    }
  }

  &::before {
    left: -1px;
  }
  &::after {
    right: -1px;
  }
}

.p-clinicHead__title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1.2rem;

  padding: 0.4rem 0;
  text-align: center;
  font-family: $font-zenold;
  font-weight: 700;
  font-size: 1.8rem;
  color: cl(brown);
  letter-spacing: 0.05em;

  @include mq(tab){
    gap: 0 4rem;
    padding: 1rem 0;
    font-size: 2.6rem;
  }

  &::before, &::after {
    content: "";
    display: block;
    flex: 1;
    height: 0.1rem;
    background-color: cl(brown);
    
    @include mq(tab){
      width: calc((100% - 16.4rem - 4rem * 2 - 2rem) / 2);     
    }
  }
}

// アクセス・店舗情報
.p-singleClinicAccess {
  background-color: #F8F8F8;
  margin-top: 6rem;
  padding: 6rem 0;

  @include mq(tab){
    margin-top: 8rem;
    padding: 8rem 0;
  }
}

.p-singleClinicAccess__inner {

}

.p-singleClinicAccess__head {

}

.p-singleClinicAccess__body {
  margin-top: 3.2rem;
  @include mq(tab){
    margin-top: 5rem;
  }
}

.p-singleClinicAccess__area {

}


// アクセス方法
.p-singleClinichow {
  margin-top: 4rem;
  @include mq(tab){
    margin-top: 8rem;
  }
}


.p-singleClinichow__body {
  margin-top: 4rem;
  @include mq(tab){
    margin-top: 5rem;
  }
}

.p-singleClinichow__area {

}

.p-singleClinichow__tabs {
  display: flex;
  gap: 0.2rem;
  border-bottom: 1px solid cl(orange);
}

.p-singleClinichow__tab {
  width: calc((100% - 0.2rem * 2) / 3);
  padding: 0.8rem 0.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1rem 1rem 0 0;
  background-color: #fff;
  border: 1px solid cl(orange);
  border-bottom: none;
  cursor: pointer;

  font-family: $font-zenold;
  text-align: center;
  color: cl(orange);
  font-weight: 600;
  font-size: 1.4rem;
  transition: all 0.2s;

  &.is-active {
    background-color: cl(orange);
    color: #fff;
  }
  
  @include mq(tab){
    width: initial;
    font-size: 2rem;
    padding: 1.4rem 3.1rem;
  }
}

.p-singleClinichow__tables {
  margin-top: 2.4rem;
  @include mq(tab){
    margin-top: 4rem;
  }
}

.p-singleClinichow__table {
  display: none;
  transition: all 0.2s;

  &.is-active {
    display: block;
  }
}

.p-singleClinichow__boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem 0;

  counter-reset: number 0;
  
  @include mq(tab){
    gap: 5.2rem 3.2rem;
  }
}

.p-singleClinichow__box {
  width: 100%;

  @include mq(tab){
    width: calc((100% - 3.2rem * 2) / 3);
  }
}

.p-singleClinichow__boxFigure {
  position: relative;
  border-radius: 0.4rem;
  overflow: hidden;
}

.p-singleClinichow__boxNum {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.4rem;
  height: 4.4rem;
  background-color: cl(brown);

  &::before {
    content: counter(number);
    counter-increment: number 1;

    font-family: $font-zenold;
    font-weight: 700;
    font-size: 1.8rem;
    color: #fff;
    
    @include mq(tab){
      font-size: 2.4rem;
    }
  }
}

.p-singleClinichow__boxText {
  margin-top: 1.2rem;
  font-size: 1.4rem;
  line-height: 2;

  @include mq(tab){
    margin-top: 2rem;
  }
}

// クリニックの外観・内観
.p-singleClinicAlbum {
  margin-top: 4rem;
  @include mq(tab){
    margin-top: 8rem;
  }
}

.p-singleClinicAlbum__list {
  margin-top: 4rem;
  @include mq(tab){
    margin-top: 5rem;
  }
}

.p-singleClinicAlbum__item {
  img {
    object-fit: cover;
    aspect-ratio: 352 / 235;
  }
}



// 診療内容
.p-singleClinicTreatmentWrap {
  background: rgb(248,248,248);
  background: linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.p-singleClinicTreatment {
  padding: 7.8rem 0;
  background-image: url("../../dist/img/top/treatment_bgtop_sp.png"), url("../../dist/img/top/treatment_bgbottom_sp.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 7.8rem, 100% 7.8rem;
  background-position: center top, center bottom;
  
  @include mq(tab){
    padding: 15rem 0;
    background-image: url("../../dist/img/top/treatment_bgtop.png"), url("../../dist/img/top/treatment_bgbottom.png");
    background-size: 100% 15rem, 100% 15rem;
  }
}

.p-singleClinicTreatment__bgc {
  background-color: cl(beige);
}

.p-singleClinicTreatment__main {
  padding-top: 6rem;
  @include mq(tab){
    padding-top: 8rem;
  }
}


.p-singleClinicTreatment__banner {
  margin-top: 4rem;
  a {
    img {
      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
    }
  }
  @include mq(tab){
    margin-top: 6rem;
  }
}

.p-singleClinicTreatment__btns {
  margin-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem 6rem;

  @include mq(tab){
    margin-top: 8rem;
    padding-bottom: 8rem;
    flex-direction: row;
  }
}


.p-singleClinic__cta {
  margin-top: 6rem;

  @include mq(tab){
    margin-top: 8rem;
  }
}

// ご予約から施術の流れ
.p-singleClinicFlow {
  margin-top: 6rem;

  @include mq(tab){
    margin-top: 8rem;
  }
}

.p-singleClinicFlow__inner {
}

.p-singleClinicFlow__area {
  position: relative;
  padding: 7rem 2rem 5rem 3rem;
  border: 1px solid #8A652F;
  margin-left: -1rem;
  background-color: transparent;
  
  @include mq(tab){
    padding: 8rem 2rem 7.4rem;
    margin-left: 0;
  }
  
  &::after {
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: transparent;
    border: 1px solid cl(orange);
  }
}

.p-singleClinicFlow__head {
  .c-secTitle__ja {
    margin-top: 0;
  }
}

.p-singleClinicFlow__body {
  margin-top: 4rem;
  @include mq(tab){
    margin-top: 5rem;
  }
}

// 担当医師挨拶
.p-singleClinicMessage {
  margin-top: 7.5rem;
  background-color: cl(beige);
  position: relative;
  padding: 4.5rem 0 6rem;
  
  @include mq(tab){
    margin-top: 9rem;
    padding: 10rem 0 12rem;
  }
}


// よくある質問
.p-singleClinicFaq {
  margin-top: 6rem;  
  @include mq(tab){
    margin-top: 12rem;
  }
}

.p-singleClinicFaq__inner {
  max-width: 97rem;
}

.p-singleClinicFaq__content {
  margin-top: 3rem;
  @include mq(tab){
    margin-top: 5rem;
  }
}

.p-singleClinicFaq__btn {
  margin-top: 4rem;
  a {
    margin: 0 auto;
  }
  @include mq(tab){
    margin-top: 6rem;
  }
}

.p-singleClinic__bottomcta {
  margin-top: 6rem;
  margin-bottom: 8rem;

  @include mq(tab){
    margin-top: 8rem;
  }
}
