// エクソソーム点滴
.p-exosomeFigure {
  width: 100%;
  @include mq(tab){
    margin-top: -4rem;
  }

  img {
    max-height: 43rem;
    object-fit: cover;

    @media screen and (min-width: 1800px) {
      max-height: initial;
      object-fit: contain;
    }
  }
}

.p-exosomeTrouble {
  margin-top: 3rem;
  @include mq(tab){
    margin-top: 8rem;
  }
}

.p-exosomeTrouble__inner {

}

.p-exosomeTrouble__title {
  position: relative;
  font-family: $font-zenold;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 2rem;
  color: cl(exo);
  
  @include mq(tab){
    font-size: 3rem;
  }

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -2.4rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 20.6rem;
    height: 3.937rem;
    background-image: url(../../dist/img/menu/exosome_title_mark.png);
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;

    @include mq(tab){
      bottom: -3.6rem;
      width: 30.6rem;
      height: 5.856rem;
    }
  }
}

.p-exosomeTrouble__body {
  position: relative;
  margin-top: 4.8rem;

  display: flex;
  flex-direction: column-reverse;
  
  @include mq(tab){
    margin-top: 8rem;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.p-exosomeTrouble__bgimg {
  margin-top: 3rem;
  margin-right: -2.5rem;
  margin-left: -2.5rem;
  width: calc((100% + 5rem));
  height: 44.445vw;
  background-image: url(../../dist/img/menu/exosome_trouble.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include mq(tab){
    margin: initial;
    margin-left: calc((100vw - 100%) / -2);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    height: 32rem;
    background-position: left center;
  }
}

.p-exosomeTrouble__list {
  position: relative;
  z-index: 5;
  flex: 1;
  width: 26.1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem 5rem;
  
  @include mq(tab){
    margin: initial;
    padding: 5rem 0;
    max-width: 66.4rem;
    max-height: 32rem;
    gap: 2.4rem 5rem;
  }
}

.p-exosomeTrouble__item {
  display: flex;
  align-items: center;
  gap: 0 1rem;

  line-height: 2.6rem;
  font-weight: 700;
  font-size: 1.6rem;
  
  @include mq(tab){
    font-size: 2rem;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    background-image: url(../../dist/img/icon/icon_liststyle_pink.png);
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;

    @include mq(tab){
      width: 3.7rem;
      height: 3.7rem;
    }
  }
}

// エクソソーム効果
.p-exosomeEffect {
  height: 94.3rem;
  background-image: url(../../dist/img/menu/exosome_effect_bgimg_sp.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4rem;

  @include mq(sp){
    background-image: url(../../dist/img/menu/exosome_effect_bgimg.png);
    background-position: initial;
  }
  
  @include mq(tab){
    height: 80rem;
  }
}

.p-exosomeEffect__bgimg {

}

.p-exosomeEffect__inner {

}

.p-exosomeEffect__title {
  text-align: center;
  font-family: $font-zenold;
  letter-spacing: 0.01em;
  line-height: 2.1;
  font-weight: 700;
  font-size: 2rem;
  color: cl(exo);
  span {
    line-height: 1;
    font-size: 2.4rem;
    background: linear-gradient(transparent 75%, #FEEBBD 75%, #FEEBBD 95%, transparent 95%);
  }
  @include mq(tab){
    font-size: 3rem;
    span {
      font-size: 3.6rem;
    }
  }
}

.p-exosomeEffect__body {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 10rem 5.357143%;
  
  @include mq(tab) {
    margin-top: 5rem;
    justify-content: center;
    flex-direction: row;
  }
}

.p-exosomeEffect__area {
  margin: 0 auto;
  width: unquote('min(51rem, 100%)');
  @include mq(tab){
    margin: initial;
    width: unquote('min(51rem, calc((100% - 5.357143%) / 2))');
  }
}

.p-exosomeEffect__areaHead {
  position: relative;
  width: 100%;
  height: 3.6rem;
  text-align: center;
  line-height: 3.6rem;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 2.0rem;
  color: #fff;

  @include mq(tab){
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 2.4rem;
  }
  
  ._man & {
    background-color: #5C6E74;
    // padding-left: 20.7rem;
    // &::before {
    //   content: '';
    //   display: inline-block;
    //   position: absolute;
    //   bottom: 0.6rem;
    //   left: 5.3rem;

    //   width: 11rem;
    //   height: 10.9rem;
    //   background-image: url(../../dist/img/menu/exosome_man.png);
    //   flex-shrink: 0;
    //   background-size: contain;
    //   background-repeat: no-repeat;
    // }

    @include mq(tab){
      // padding-left: 21.9rem;
      // &::before {
      //   left: 4rem;
      //   width: 14.8rem;
      //   height: 14.7rem;
      // }
    }
  }

  ._woman & {
    background-color: #FFAB7F;
    // padding-right: 20.1rem;
    // &::before {
    //   content: '';
    //   display: inline-block;
    //   position: absolute;
    //   bottom: 0.8rem;
    //   right: 4.2rem;
    //   width: 11rem;
    //   height: 10.7rem;
    //   background-image: url(../../dist/img/menu/exosome_woman.png);
    //   flex-shrink: 0;
    //   background-size: contain;
    //   background-repeat: no-repeat;
    // }

    @include mq(tab){
      // padding-right: 21.9rem;
      // &::before {
      //   bottom: 0.5rem;
      //   right: 3rem;
      //   width: 15.2rem;
      //   height: 14.9rem;
      // }
    }
  }
}

.p-exosomeEffect__areaList {
  margin-top: 2rem;
  padding: 0.6rem 2rem;
  width: 100%;
  background-color: #fff;
  
  @include mq(tab){
    margin-top: 1.6rem;
    padding: 0.5rem 2rem;
  }
}

.p-exosomeEffect__areaItem {
  padding: 1rem 0;
  @include mq(tab){
    padding: 1.8rem 0;
  }
  
  +.p-exosomeEffect__areaItem {
    border-top: 1px dashed #000;
  }
  
  span {
    display: flex;
    align-items: center;
    gap: 0 1rem;
    margin: 0 auto;
    
    letter-spacing: -0.03em;
    font-weight: 700;
    font-size: 1.6rem;

    ._man & {
      max-width: 24.4rem;
    }
    ._woman & {
      max-width: 28.5rem;
    }

    @include mq(tab){
      letter-spacing: 0;
      font-size: 2rem;

      ._man & {
        max-width: 30.7rem;
      }
      ._woman & {
        max-width: 36.7rem;
      }
    }

    &::before {
      content: '';
      display: inline-block;
      width: 2.6rem;
      height: 2.6rem;
      background-image: url(../../dist/img/icon/icon_liststyle_orange.png);
      flex-shrink: 0;
      background-size: contain;
      background-repeat: no-repeat;
  
      @include mq(tab){
        width: 3.7rem;
        height: 3.7rem;
      }
    }
  }

}

// 再生医療エクソソームとは
.p-exosomeAbout {
  margin-top: 6rem;
  @include mq(tab){
    margin-top: 3rem;
  }
}

.p-exosomeAbout__body {
  margin-top: 3rem;
}

.p-exosomeAbout__message {
  line-height: 1.88;
  font-weight: 700;
  font-size: 1.6rem;
  @include mq(tab){
    text-align: center;
    font-size: 1.8rem;
  }
}

.p-exosomeAbout__figure {
  max-width: 81.6rem;
  margin: 3rem auto 0;
}

.p-exosomeAbout__text {
  max-width: 81.6rem;
  margin: 3rem auto 0;
  line-height: 2.8rem;
  font-size: 1.5rem;

  @include mq(tab){
    line-height: 2;
    font-size: 1.8rem;
  }
}

.p-exosomeAbout__content {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem 5.357143%;
  
  
  @include mq(tab) {
    flex-direction: row;
  
  }
  @include mq(tab){
    margin-top: 7rem;
  }
}

.p-exosomeAbout__contentFigure {
  @include mq(tab){
    width: calc((482 / 1120) * 100%);
  }
}

.p-exosomeAbout__contentDesc {
  @include mq(tab){
    width: calc((578 / 1120) * 100%);
  }
}

.p-exosomeAbout__contentTitle {
  font-family: $font-zenold;
  font-weight: 700;
  font-size: 2rem;
  color: #296C82;
  @include mq(tab){
    letter-spacing: 0.01em;
    line-height: 5.2rem;
    font-size: 3rem;
  }
}

.p-exosomeAbout__contentText {
  margin-top: 2rem;
  line-height: 2.8rem;
  font-size: 1.5rem;

  @include mq(tab){
    margin-top: 2.4rem;
    line-height: 3.6rem;
    font-size: 1.6rem;
  }
}

// 

.p-exosomeBgcImg {
  margin-top: 6rem;
  padding: 7.8rem 0;
  background-image: url("../../dist/img/menu/exosome_bgtop_sp.png"), url("../../dist/img/menu/exosome_bgbottom_sp.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 7.8rem, 100% 7.8rem;
  background-position: center top, center bottom;
  
  @include mq(tab){
    margin-top: 9.4rem;
    padding: 17.1rem 0;
    background-image: url("../../dist/img/menu/exosome_bgtop.png"), url("../../dist/img/menu/exosome_bgbottom.png");
    background-size: 100% 17.1rem, 100% 17.1rem;
  }
}

.p-exosomeBgc {
  background-color: cl(exolight);
}


.p-exosomeM2p {
  padding: 4.2rem 0;
  @include mq(tab){
    padding: 5rem 0;
  }
}

.p-exosomeM2p__inner {

}

.p-exosomeM2p__head {

}

.p-exosomeM2p__body {
  margin-top: 3rem;
  @include mq(tab){
    margin-top: 4rem;
  }
}

.p-exosomeM2p__area {
  background-color: #fff;
  border-radius: 1rem;
  padding: 3rem 2rem;

  @include mq(tab){
    padding: 5rem 2rem;
  }
}

.p-exosomeM2p__text {
  max-width: 97rem;
  margin: 0 auto;
  line-height: 2.8rem;
  font-size: 1.5rem;

  @include mq(tab){
    line-height: 3.6rem;
    font-size: 1.6rem;
  }

  span {
    font-weight: 700;
    color: cl(pink);

    @include mq(tab){
      line-height: 1;
      font-size: 1.8rem;
    }
  }
}

.p-exosomeM2p__box {
  margin-top: 3rem;
  background-color: #F3F3F3;
  padding: 3rem 1.5rem;
  @include mq(tab){
    margin-top: 5rem;
    padding: 2rem 1.5rem 3rem;
  }
}

.p-exosomeM2p__boxTitle {
  text-align: center;
  font-family: $font-zenold;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 1.8rem;
  @include mq(tab){
    line-height: 4rem;
    font-size: 2.2rem;
  }
}

.p-exosomeM2p__boxText {
  max-width: 76.3rem;
  margin: 1.5rem auto 0;
  line-height: 2.4rem;
  font-size: 1.4rem;

  @include mq(tab){
    margin-top: 1rem;
    text-align: center;
    line-height: 2.6rem;
  }
}

.p-exosomeCase {
  margin-top: 6rem;
  padding-bottom: 6rem;
  @include mq(tab){
    margin-top: 8rem;
  }
}

.p-exosomeCase__body {
  margin-top: 4rem;
}

.p-exosomeCase__case {

  // exosome用 カラー修正
  .p-case__head {
    color: cl(exo);
  }
  .p-case__imageTitle {
    color: cl(pink);
  }
  .p-case__imageTitle::after {
    background-color: cl(pink);
  }
  .p-case__box {
    border-color: cl(exo);
  }
  .p-case__boxTitle {
    color: cl(exo);
  }
  .p-case__boxTitleMark {
    &::before, &::after {
      background-color: cl(exo);
    }
  }
  .p-case__boxContent dt {
    color: cl(pink);
  }
  .p-case__boxDetail dt {
    color: cl(exo);
  }
}

// 施術の流れ
.p-exosomeFlow {
  margin-top: 6rem;
  @include mq(tab){
    margin-top: 3.2rem;
  }
}

.p-exosomeFlow__inner {

}

.p-exosomeFlow__head {

}

.p-exosomeFlow__body {
  margin-top: 6.3rem;
  @include mq(tab){
    margin-top: 4rem;
  }
}

.p-exosomeFlow__list {
  display: flex;
  flex-direction: column;
  gap: 3rem calc((30 / 1120) * 100%);
  
  @include mq(tab) {
    flex-direction: row;
  }
}

.p-exosomeFlow__item {
  @include mq(tab){
    width: calc((100% - 3rem * 2) / 3);
  }
}

.p-exosomeFlow__figure {
  img {
    border-radius: 0.4rem;
  }
}

.p-exosomeFlow__desc {
  margin-top: 2rem;
}


.p-exosomeFlow__descHead {
  display: flex;
  align-items: center;
  gap: 0 1.6rem;

  @include mq(pc){
    gap: 0 3.2rem;
  }
}

.p-exosomeFlow__descNum {
  padding-top: 0.6rem;
  padding-bottom: 0.2rem;
  padding-right: 1.6rem;
  border-right: 1px solid cl(brown);
  font-family: $font-cinzel;
  font-size: 4rem;
  color: cl(gray);
  line-height: 4.1rem;

  @include mq(pc){
    padding-right: 3.2rem;
    font-size: 4.8rem;
  }


  &::before {
    content: "STEP";
    display: block;
    margin-bottom: 0.7rem;
    text-align: center;
    line-height: 1;
    font-size: 1.8rem;
  }
}

.p-exosomeFlow__descTitle {
  font-family: $font-zenold;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: cl(brown);

  @include mq(pc){
    font-size: 2rem;
  }
}

// 担当医師挨拶
.p-exosomeMessage {
  margin-top: 6rem;
  @include mq(tab){
    margin-top: 10rem;
  }
}

.p-exosomeMessage__inner {
  max-width: 113rem;
}

.p-exosomeMessage__body {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem calc((60 / 1120) * 100%);

  @include mq(tab){
    flex-direction: row;
    margin-top: 4rem;
  }
} 

.p-exosomeMessage__figure {
  margin: 0 auto;
  width: calc((256 / 325) * 100%);

  img {
    filter: drop-shadow(-10px 10px 0px #B88D50);
  }
  @include mq(tab){
    margin: initial;
    width: calc((480 / 1080) * 100%);
    img {
      filter: drop-shadow(-20px 20px 0px #B88D50);
    }
  }
}

.p-exosomeMessage__desc {
  @include mq(tab){
    width: calc((520 / 1080) * 100%);
  }
}

.p-exosomeMessage__text {
  letter-spacing: -0.01em;
  font-size: 1.5rem;
  line-height: 2.6rem;
}

.p-exosomeMessage__post {
  margin: 3rem auto 0;
  display: flex;
  justify-content: space-between;
  width: 31.5rem;
  height: 5.8rem;

  color: cl(brown);
  font-family: $font-zenold;
  font-weight: 600;
  line-height: 40px;
  
  @include mq(pc){
    margin: initial;
    margin-top: 4rem;
    width: 44.7rem;
    height: 8.6rem;
  }
}

.p-exosomeMessage__clinic {
  position: relative;

  font-size: 15px;
  @include mq(pc){
    font-size: 22px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -38px;
    width: 6.5rem;
    height: 0.1rem;
    background-color: cl(brown);
    transform: rotate(-45deg);

    @include mq(pc){
      right: -53px;
      width: 9rem;
    }
  }

}
.p-exosomeMessage__name {
  margin-top: auto;
  font-size: 14px;
  span {
    margin-right: 1.3rem;
    font-size: 13px;
  }
  @include mq(pc){
    font-size: 22px;
    span {
      margin-right: 1.6rem;
      font-size: 16px;
    }
  }
}
