// arrowを画像に変更
.slick-slide-arrow {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  top: 0; bottom: 0;
  margin: auto;
  width: 2rem;
  height: 2rem;
  
  @include mq(tab){
    top: initial;
    margin: initial;
    bottom: 2rem;
    width: 4.8rem;
    height: 4.8rem;

    // single
    .p-singleClinicAlbum__list & {
      top: 0;
      margin: auto;
    }
  }

}

.slick-prev-arrow {
  transform: rotate(90deg);
  left: -1.2rem;
  // single
  .p-singleClinicAlbum__list & {
    left: 1.3rem;
  }
  
  @include mq(tab){
    left: 2rem;
  }
}
.slick-next-arrow {
  transform: rotate(-90deg);
  right: -1.2rem;
  // single
  .p-singleClinicAlbum__list & {
    right: 1.3rem;
  }

  @include mq(tab){
    right: 2rem;

  }
}

// dots
.slick-dots {
  bottom: -40px;
}

.slick-dots li button:before {
  content: "";
  width: 8px;
  height: 8px;
  top: 0; bottom: 0;
  right: 0; left: 0;
  margin: auto;
  border: 1px solid cl(brown);
  border-radius: 50%;
  background-color: #fff;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  background-color: cl(brown);
}
