.l-inner {
  max-width: 117rem; //  1120px + 50px padding
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  margin-right: auto;
  margin-left: auto;
}

.l-min-inner {
  max-width: 97rem; //  920px + 50px padding
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  margin-right: auto;
  margin-left: auto;
}
