.p-modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.p-modal__bg {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.p-modal__area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 3.7rem 0 2.8rem;
  width: 30rem;
  max-width: 75rem;
  background-color: #000;
  border-radius: 0.6rem;

  @include mq(tab){
    width: 90%;
    padding: 4.6rem 6rem 4.2rem;
  }
}

.p-modal__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  
  @include mq(tab){
    justify-content: center; // 1つの時は中央に
    flex-direction: row;
  }
}

.p-modal__item {
  width: 26rem;
  height: 9.2rem;
  background-color: #fff;
  border: 1px solid #8A652F;
  
  @include mq(tab){
    width: 29.9rem;
  }
}

.p-modal__itemTitle {
  margin: -1.2rem auto 0;
  width: 16rem;
  height: 2.4rem;
  background-color: #8A652F;
  border-radius: 2rem;
  text-align: center;
  color: #fff;
  font-family: $font-zenold;
  font-size: 14px;
  font-weight: 600;
}

.p-modal__itemTel {
  margin-top: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.7rem;
  img {
    width: 2.2rem;
    height: 2.2rem;
  }

  .p-modal__itemNum {
    color: cl(orange);
    font-family: $font-cinzel;
    font-size: 28px;
    font-weight: 700;
  }
}

.p-modal__itemTime {
  color: #000;
  text-align: center;
  //font-family: $font-biz;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.52px;
}

.p-modal__closeBtn {
  position: absolute;
  top: -1.6rem;
  right: -1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  
  @include mq(tab){
    top: -2rem;
    right: -2rem;
    width: 4rem;
    height: 4rem;
  }
}
