.c-breadcrumb {
  z-index: 2;
  position: relative;
  color: #BCBCBC;
  font-size: 1rem;
  
  @include mq(pc){
    font-size: 1.2rem;
  }

}

.c-breadcrumb__list {
  display: flex;
  gap: 0 1rem;
  overflow-x: auto;
  white-space: nowrap; // 改行しない
  padding: 0;

  // スクロールバー削除
  &::-webkit-scrollbar {
    width: 0.1px;
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    display: none;
  }
}

.c-breadcrumb__item {
  a {
    color: cl(orange);
  }
}
